# Classification-based prediction of heart disease diagnoses

## Introduction:
**Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal**

**Clearly state the question you will try to answer with your project**

**Identify and describe the dataset that will be used to answer the question**

## Exploratory data analysis

In [5]:
# Run this cell before continuing
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
set.seed(69)

In [7]:
heart <- read_csv("data/heart_disease_uci.csv")
head(heart)

Rows: 920 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): sex, dataset, cp, restecg, slope, thal
dbl (8): id, age, trestbps, chol, thalch, oldpeak, ca, num
lgl (2): fbs, exang

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  id age sex    dataset   cp              trestbps chol fbs   restecg
1 1  63  Male   Cleveland typical angina  145      233   TRUE lv hypertrophy
2 2  67  Male   Cleveland asymptomatic    160      286  FALSE lv hypertrophy
3 3  67  Male   Cleveland asymptomatic    120      229  FALSE lv hypertrophy
4 4  37  Male   Cleveland non-anginal     130      250  FALSE normal
5 5  41  Female Cleveland atypical angina 130      204  FALSE lv hypertrophy
6 6  56  Male   Cleveland atypical angina 120      236  FALSE normal
  thalch exang oldpeak slope       ca thal              num
1 150    FALSE 2.3     downsloping 0  fixed defect      0
2 108     TRUE 1.5     flat        3  normal            2
3 129     TRUE 2.6     flat        2  reversable defect 1
4 187    FALSE 3.5     downsloping 0  normal            0
5 172    FALSE 1.4     upsloping   0  normal            0
6 178    FALSE 0.8     upsloping   0  normal            0

We then filter the data to look at only one location (Cleveland) to reduce the effect of possible confounding variables introduced by the local environment.

In [8]:
cleveland_heart <- heart |>
filter(dataset == "Cleveland")
cleveland_heart

    id  age sex    dataset   cp              trestbps chol fbs   restecg
1   1   63  Male   Cleveland typical angina  145      233   TRUE lv hypertrophy
2   2   67  Male   Cleveland asymptomatic    160      286  FALSE lv hypertrophy
3   3   67  Male   Cleveland asymptomatic    120      229  FALSE lv hypertrophy
⋮   ⋮   ⋮   ⋮      ⋮         ⋮               ⋮        ⋮    ⋮     ⋮
302 302 57  Female Cleveland atypical angina 130      236  FALSE lv hypertrophy
303 303 38  Male   Cleveland non-anginal     138      175  FALSE normal
304 304 28  Male   Cleveland atypical angina 130      132  FALSE lv hypertrophy
    thalch exang oldpeak slope       ca thal              num
1   150    FALSE 2.3     downsloping 0  fixed defect      0
2   108     TRUE 1.5     flat        3  normal            2
3   129     TRUE 2.6     flat        2  reversable defect 1
⋮   ⋮      ⋮     ⋮       ⋮           ⋮  ⋮                 ⋮
302 174    FALSE 0       flat         1 normal            1
303 173    FALSE 0       upsloping   NA normal            0
304 185    FALSE 0       NA          NA NA                0

We need to change the predicted variable (num) to a factor with more understandable labels. From the information presented in the dataset...